* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
  display: grid;
  grid-template-columns: 1fr;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.left-nav {
  display: flex;
}
.container > .left-nav > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}
.link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.6s;
}

.link-wrapper a {
  color: rgb(167, 161, 161);
  text-decoration: none;
  transition: color 0.6s;
}
.link-wrapper:hover {
  border-bottom:3px solid rgb(68, 202, 27);
}

.link-wrapper a:hover {
  color: black;
}

.name {
  text-transform: uppercase;
}
.name  a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
}



/* Content */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img{
  width: 50%;
  margin-bottom: 20px;
}